.wrap {
}
.content {
  margin: 0 auto;
  max-width: 1150px;
  width: 100%;
  min-height: 82vh;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (min-width : 1025px) {
    .content {
      max-width: 1400px;
      
    }
}
