.signupcontent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signupcontent .signupcontent__title {
  font-size: 2.0rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 20px;
}

/* form  */
.signupcontent__form {
  width: 700px;
  background: white;
  font-size: 1.3rem;
  padding: 35px 100px 10px;
  border-radius: 10px;
}
.signupcontent__form .form__input {
  width: 100%;
  margin-bottom: 25px;
}
.signupcontent__form .form__input .input {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}
.signupcontent__form .form__input span {
  font-weight: 700;
}

.signupcontent__form .form-input__icon {
  background: var(--main-color);
  bottom: 0px;
  right: 0px;
  position: absolute;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupcontent__form .form-input__icon .icon {
  color: var(--white-color);
  font-size: 30px;
}


