:root {
  --font-family: 'Roboto', sans-serif;
  --background-gray: #f1f1f5;
  --white-color: #fff;
  --gray-color: #767676;
  --gray-color-2: #555555;
  --gray-color-3: #d9d9d9;
  --gray-pale: #bababa;
  --btn-gray: #f1f1f5;
  --btn-color: linear-gradient(90deg, rgba(39, 231, 158, 1) 0%, rgba(30, 198, 233, 1) 100%);
  --border-color: #00c5b5;
  --main-color: #1badde;
  --main-text: #555555;
  --color-white: #ffffff;
  --height-header-profile: 80px;
}

*,
s *::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
body {
  font-family: var(--font-family);
  min-height: 100vh;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}
/* Huy wrong here */
.MuiRadio-icon {
  color: var(--main-color);
}

.css-19vqqfw-MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.css-1d3x0vt-MuiFormControl-root-MuiTextField-root {
  border-radius: 0.6rem;
}
.form__input {
  margin-bottom: 20px;
}
.form__input-wrapper {
  position: relative;
}
.form__label {
  color: var(--gray-color-2);
  font-size: 1.4rem;
  display: block;
  margin-bottom: 10px;
}
.form__label::after {
  content: '*';
  color: red;
  margin-left: 2px;
}
.input__field {
  display: block;
  width: 100%;
  padding: 15px 60px 15px 20px;
  border-radius: 8px;
  border: none;
  background: rgba(209, 209, 209, 0.6);
  font-size: 1.4rem;
  color: #555555;
}
.input__field:focus {
  outline: none;
}
.input__field::placeholder {
  font-size: 1.4rem;
}
.form__input_icon {
  background: var(--main-color);
  top: 0px;
  right: 0px;
  position: absolute;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__input_send {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  cursor: pointer;
}
.form__input_send > span {
  color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 700;
}
.form__input_icon-main {
  color: var(--white-color);
  font-size: 2.4rem;
}
.btn__auth {
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
  background-color: var(--main-color);
  color: var(--white-color);
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}
.btn__auth-signup {
  background-color: var(--white-color);
  border: 1px solid var(--main-color);
  filter: none;
}
.btn__auth--next {
  height: 40px;
  width: 70px;
  border-radius: 4px;
  margin-right: 10px;
  filter: none;
  margin-bottom: 0;
}
.btn__auth--back {
  margin-bottom: 0;
  height: 40px;
  width: 70px;
  filter: none;
  max-width: 100px;
  border-radius: 4px;
  background-color: var(--white-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn__auth-signup > a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}
.form__err {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
  color: red;
}
.gap_btn {
  margin-top: 40px;
}
.form__input--infomation {
  display: flex;
  align-items: center;
  gap: 0 40px;
  margin-bottom: 10px;
}
.form__label--infomation {
  flex-basis: 25%;
}
.form__input-wrapper--infomation {
  flex-basis: 75%;
  width: 100%;
}
.input__field--information {
  padding: 10px 15px;
  font-size: 1.2rem;
}
.input__field--information::placeholder {
  font-size: 1.2rem;
}
.signup__title {
  display: block;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--main-color);
  width: 100%;
  text-align: center;
}
.btn__auth--done {
  height: 40px;
  width: 200px;
  border-radius: 4px;
  filter: none;
  margin-bottom: 0;
}
.btn__auth--done > a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn__auth.disable {
  background-color: var(--gray-pale);
  color: var(--gray-color-2);
  cursor: not-allowed;
}
.container__content {
  padding: 40px;
  margin: 0 auto;
}
.title__content {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--main-color);
}
.wrapper__content {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}
.form__app-container {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 55px 130px 60px 130px;
}
.dropzone {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
  font-size: 1.6rem;
}
