/* Navbar_signup_component  */
.navbar {
  height: 100%;
  width: 240px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}
.navbar::after {
  content: "";
  border-left: 24px solid var(--white-color);
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -18px;
  z-index: 1;
}
.navbar .navbar__content .step {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.navbar__content .step .line {
  width: 3px;
  height: 65px;
  position: absolute;
  background: var(--gray-pale);
  top: 10px;
  left: 16px;
}
.navbar__content .step .step__cicle {
  background: var(--gray-pale);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__content .step span {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 5px;
}
.navbar__icon {
  position: absolute;
  bottom: 100px;
  color: var(--gray-color);
}
.navbar__icon:hover {
  color: var(--main-color);
}
.navbar__icon .icon {
  font-size: 3.5rem;
}
.navbar__icon span {
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}

/* globals css  */
.signupcontent__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 20px;
}
.signupcontent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signupcontent__form {
  width: 700px;
  background: white;
  font-size: 1.3rem;
  padding: 35px 100px 10px;
  border-radius: 10px;
}
.signupcontent__form .form__input {
  width: 100%;
  margin-bottom: 25px;
}
.signupcontent__form .form__input .input {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}
.signupcontent__form .form__input span {
  font-weight: 700;
}
.signupcontent__form .form-input__icon {
  background: var(--main-color);
  bottom: 0px;
  right: 0px;
  position: absolute;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupcontent__form .form-input__icon .icon {
  color: var(--white-color);
  font-size: 30px;
}
/* create Account  step1*/

/* Infomation  step2*/
.signupcontent-step2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signupcontent-step2 .signupcontent__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 20px;
}
.signupcontent-step2 .signupcontent__form .form__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.signupcontent-step2 .signupcontent__form .form__input .input {
  margin-top: 0px;
  width: 70%;
}
.signupcontent-step2 .signupcontent__form .form__input .slected {
  width: 70%;
  border-radius: 5px;
  position: inherit;
  left: 8px;
  margin-bottom: 0;
  border: 1px solid var(--main-color);
}
.signupcontent-step2 .signupcontent__form .form__input .radio {
  width: 70%;
}
/* Verification  step3 */
.signupcontent__form .form__input .btn-sendmail {
  font-size: 1.5rem;
  position: absolute;
  right: 0px;
  top: 35px;
  color: var(--main-color);
}
/* Done step4  */
.signupcontent .signupcontent__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupcontent .signupcontent__form span {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--main-color);
  margin: 30px 0;
}

